.drawer-boxexample::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.drawer-box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main.MuiBox-root.css-jx4u1d {
  overflow: hidden;
}