.note {
    padding: 20px;
    background-color: #ff000025;
    border-radius: 8px;
    margin-bottom: 30px !important;
}

.MuiFormControl-root .css-pu4sxn-MuiTypography-root {
    font-size: 0.75rem;
}

.disabled-label {
    color: rgba(0, 0, 0, 0.38) !important;
}

.create-form-inner {
    border: 1px solid rgb(72, 88, 160);
    border-radius: 8px;
    height: 68vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}