.Menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
}

.footer-main-container {
    padding: 30px 40px;
}